<!-- Login Page -->
<div class="container">
  <h1 class="heading">🚀 Welcome<br><br></h1>
  <p class="para">Sign in to continue!</p>

  <form *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>

    <ion-item lines="none" class="ion-item">
      <fieldset  class="input-item">
        <legend>Username</legend>
        <ion-input type="text"
                   class="form-control"
                   name="username"
                   placeholder="example"
                   [(ngModel)]="form.username"
                   required
                   #username="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && username.errors } ">
        </ion-input>
      </fieldset>
    </ion-item>

    <!-- Username errors -->
    <div class="invalid-feedback ion-text-center" *ngIf="username.errors && f.submitted">
      <ion-note *ngIf="username.errors['required']" slot="error" color="danger">Enter a username</ion-note>
    </div>

    <ion-item lines="none" class="ion-item">
      <fieldset class="input-item">
        <legend>Password</legend>

        <ion-input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
        </ion-input>
      </fieldset>
    </ion-item>

    <!-- Password Errors -->
    <div class="invalid-feedback ion-text-center" *ngIf="password.errors && f.submitted">
      <ion-note *ngIf="password.errors['required']" slot="error" color="danger">Enter a password</ion-note>
      <ion-note *ngIf="password.errors['minlength']" slot="error" color="danger">Password must be at least 6
        characters</ion-note>
    </div>

    <p class="forget-text"><a>Forgot Password?</a></p>
    <p class="signup-text">I'm a new user&nbsp;<a href="/register">Sign Up?</a></p>
    <ion-button type="submit" class="login-button" expand="block">Login</ion-button>

    <!-- General Errors -->
    <div class="form-group ion-text-center">
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
        <ion-note slot="error" color="danger">Login failed</ion-note>
      </div>
    </div>
  </form>
  <!-- Logged message -->
  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}.
  </div>

</div>

