#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.popup {
  position: relative; /* Assicura che la posizione relativa sia impostata sul contenitore del popup */
  width: 300px; /* Regola la larghezza del popup come preferisci */
  height: 200px; /* Regola l'altezza del popup come preferisci */
  border: 1px solid #ccc; /* Aggiungi bordo per migliorare l'aspetto del popup */
}

.button-container {
  position: absolute; /* Imposta il posizionamento assoluto per il contenitore del pulsante */
  top: 50%; /* Posiziona il contenitore del pulsante al centro rispetto all'alto del popup */
  left: 50%; /* Posiziona il contenitore del pulsante al centro rispetto alla sinistra del popup */
  transform: translate(-50%, -50%); /* Utilizza la trasformazione per spostare il contenitore del pulsante al centro del popup */
}
