<ion-header>
  <ion-toolbar>
    <ion-title>Crea una nuova attività</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
    <!-- Display activity details here -->
    <ion-list>

      <!-- Name Input -->
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="Nome dell'attività" name="name" [(ngModel)]="form.name" required #name="ngModel"></ion-input>
      </ion-item>
      <div class="invalid-feedback ion-text-center" *ngIf="name.errors && f.submitted">
        <ion-note *ngIf="name.errors['required']" slot="error" color="danger">Enter a username</ion-note>
      </div>

      <!-- Description Textarea -->
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea placeholder="Descrivi bene attività daei" name="description" [(ngModel)]="form.description" required #description="ngModel"></ion-textarea>
      </ion-item>
      <div class="invalid-feedback ion-text-center" *ngIf="description.errors && f.submitted">
        <ion-note *ngIf="description.errors['required']" slot="error" color="danger">Enter a username</ion-note>
      </div>

      <!-- Type Select -->
      <ion-item>
        <ion-label position="stacked">Tipo attività</ion-label>
        <ion-select placeholder="Seleziona" [(ngModel)]="form.type" name="type">
          <ion-select-option value="1">Arrampicata</ion-select-option>
          <ion-select-option value="2">Serata con alcol e droga (legale)</ion-select-option>
          <ion-select-option value="3">Birdwatching tra amici</ion-select-option>
          <ion-select-option value="4">Spariamo alle lepri selvatiche</ion-select-option>
          <ion-select-option value="5">Si fa i tacchini</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Inizio evento -->
      <ion-item>
        <ion-label position="stacked">Inizio evento:</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <!-- Fine evento -->
      <ion-item>
        <ion-label position="stacked">Fine evento:</ion-label>
        <ion-datetime-button datetime="datetime2"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime2"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

    </ion-list>

    <!-- Submit Button -->
    <ion-button type="submit" expand="block">Submit</ion-button>

    <!-- General Errors -->
    <div *ngIf="f.submitted && createActivityFailed" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

  </form>
</ion-content>
